<!doctype html>
<html>
	<head>
		<title>RecipeThyme</title>
		<meta charset='utf-8'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
		<script>
			function submit(){
				item_divs = document.getElementsByClassName('item');
				items = {};
				for (var i = 0; i < item_divs.length; i++){
					items[i] = item_divs[i].innerHTML;
				}
				fetch('/api/search', {
					method: 'POST',
					body: JSON.stringify(items),
					headers: {
						"Content-Type": "application/json"
					}
				}).then(resp => resp.json())
				.then(respJSON => {
					window.location = '/results?recipes='+escape(JSON.stringify(respJSON));
				});
			}
			
			function remove(key){
				div = document.getElementById(key);
				div.parentNode.removeChild(div);
			}
			
			function add(){
				num = document.getElementsByClassName('item').length;
				text = document.getElementById('text').value;
				var outerDiv = document.createElement('DIV');
				outerDiv.id = num +'';
				outerDiv.style.overflow = "auto";
				outerDiv.style.width = "30vh";
				var item = document.createElement('DIV');
				item.style.float = "left";
				item.className = "item";
				item.innerHTML = text;
				outerDiv.appendChild(item);
				var delete_button_div = document.createElement('DIV');
				delete_button_div.style.float = "right";
				var delete_button = document.createElement('INPUT');
				delete_button.setAttribute("type", "button");
				delete_button.value = "-";
				delete_button.className = "btnRemove";
				delete_button.onclick = function(){
					div = this.parentNode.parentNode;
					div.parentNode.removeChild(div);
				};
				num++;
				delete_button_div.appendChild(delete_button);
				outerDiv.appendChild(delete_button_div);
				var br = document.createElement('BR');
				outerDiv.appendChild(br);
				var items = document.getElementById('items');
				items.appendChild(outerDiv);
				document.getElementById('text').value = "";
			}
		</script>
	</head>
	<body>
		<div id="contentarea">
			<h1>Recipe Thyme</h1>
			<img class="pic" src="/assets/logo.png" alt="RecipeThymeLogo.png"/>
		
			<h2>
				Ingredients
			</h2>
			<p>The ingredients below are what were detected in the picture. Please confirm that they are correct. Tap the minus button to the right of an ingredient to remove it if it is not correct or no longer needed.</p><br>
			<div id="items">
				{% for key,item in items.items() %}
					<div id="{{key}}" style="overflow: auto; width: 30vh;">
						<div class="item" style="float:left;">
							{{item}}
						</div>
						<div style="float:right;">
							<input class="btnRemove" type="button" value="-" onclick="remove('{{key}}');"></input>
						</div>
						<br/>
					</div>
				{% endfor %}
			</div>
			<br>
			<hr/>
			<div>
				<input id="text" placeholder="Add an ingredient" type="text"></input>
				<input id="btnAdd" type="button" value="Add" onclick="add();"></input>
			</div>
			<hr/>
			<br>
			<input id="btnFind" type="button" value="Find Recipes" onclick="submit();"></input>
		</div>
	</body>
</html>